[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MajKMeans"]
	path = MajKMeans
	url = https://github.com/sheikhi-a/majkmeans
[submodule "MajMinKmeans"]
	path = MajMinKmeans
	url = https://github.com/cran/MajMinKmeans
